html {
    min-height: 100vh !important;
    overflow-x: hidden !important;
    overflow-y: scroll !important;
}
.main {
    max-width: 100% !important;
    max-height: 100% !important;
}
.container{
    margin: 0% !important;
    border: 0% !important;
    max-width: 100% !important;
    max-width: 100% !important;
    padding: 0% !important;
}
.header{
    background-color: #2aac9c;
    margin-bottom: 0px;
}

.header_area{
    padding: 20px;
}
.menu_area{
    margin-top: 30px;
}

#btnvoltar{
    background-color: #124A44 !important;
    color:white !important;
    border-radius:50px !important;
    width: 200px;
}

.btnvoltar {
    border: none;
    margin-bottom: 2%;
}

.logo{
    width: 100px;
}

.btn
{
    width: 200px;
    text-align: center;
}

.meio
{
    background-color: #D7FFFA;
    padding: 3%;
    text-align: center !important;
}

.dois{
 padding-bottom: 100px;
}
.btn-primary
{
    margin-left: 2%;
    border-radius: 20px;
    background-color: #369C90;
    border-color: #369C90;
    margin: 0.62%;
}
.junto1{
    margin-right: 100px;
}

.junto1:hover{
    background-color: #369C90;
}

.junto:hover {
    background-color: #369C90;
}

.btncontato:hover {
    background-color: #369C90;
}

.btnvoltar {
    background-color: white;
}

.footer{
    margin-top: 5px;
    background-color: #369C90;
}
.logo_pe{
    width: 60px;
}
.footer_area{   
    padding: 10px;
}
.footer_area nav a{
    background-color: #369C90!important;
    color:white !important;
    margin-right: 80px;
}

p{
    font-size: 30px;
}

@media screen and (min-width: 0px) and (max-width: 573px){
    .junto1 {
        margin-left: 20%;
        margin-bottom: 5%;
    }

    .btncontato {
    }

    .junto {
        margin-bottom: 0%;
    }
    
    #btnvoltar {
        margin-bottom: 5%;
    }
}