.cadastro_horario {
    background-color: grey;
    border-radius: 25px;
    color: white;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
}

.cadastro_horario h1{
    text-align: center;
    margin-bottom: 2%;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}

label {
    margin-left: 10%;
}

#btnsubmit {
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: 40%;
    width: 250px;
    border-radius: 50px;
    color: white;
    background-color: #be2d2d;
}

input {
    border-radius: 5px;
}