 /* Definições da tela de acompanhamento */
 html {
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    max-width: 100%;
    border: 0 !important;
    margin: 0 !important;
}

 .cabecalho {
    background-color: #369c90;
    color: white;
    text-align: center;
    padding: 1%;
}

.cabecalho img {
    max-width: 40%; 
}

.cabecalho h2 {
    font-size: 20px;
}

.titulo h1 {
    margin-top: 5%;
    padding: 2%;
    color: white;
}

.box {
   background-color: #369c90;
   border-radius: 20px;
   margin-left: 5%;
   margin-right: 5%;
   margin-bottom: 5%;
}

a {
    color: inherit;
}
