html {
    overflow-x: hidden;
    overflow-y: scroll;
}

.container {
    max-width: 100%;
    border: 0 !important;
    margin: 0 !important;
}

label {
    font-weight: bolder;
}
::placeholder {
    color: lightskyblue !important;
    opacity: 3;
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:  lightskyblue !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:  lightskyblue !important;
    opacity:  3;
 }
 h1 {
     text-align: center;
 }
 #msg {
     height: 60px;
 }
 #grid-internados tbody {
     cursor: pointer;
 }

 /* Definições da tela de acompanhamento */
 .cabecalho {
     background-color: #369c90;
     color: white;
     text-align: center;
     padding: 1%;
 }

 .cabecalho img {
     max-width: 40%; 
 }

 .cabecalho h2 {
     font-size: 20px;
 }

 .titulo h1 {
     margin-top: 5%;
     padding: 2%;
     color: white;
 }
 
 .box {
    background-color: #369c90;
    border-radius: 20px;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
 }

 a {
     color: inherit;
 }
