html{
    min-height: 100vh !important;
    max-height: 100vh !important;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: #D7FFFA;
}
.container{
    margin: 0% !important;
    border: 0% !important;
    max-width: 100% !important;
    max-width: 100% !important;
    margin: 0% !important;
    padding: 0% !important;
}
.header{
    background-color: #2aac9c;
    margin-bottom: 0px;
}

.header_area{
    padding: 20px;
}
.menu_area{
    margin-top: 30px;
}

.logo{
    width: 100px;
}
.form-floating
{
    max-width: 20%;
    margin: 1%;
    margin-left: -12%;
    display: inline-block;
    border: 0px;
}
.letra
{
    color: black;
}
.form-floating1
{
    display: inline-block;
    margin-left: -50%;
    margin-top: 10px;
}
.form-floating2
{
    display: inline-block;
    margin-left: -70%;
    margin-top: 10px;
}


.form-select
{
    border-radius: 20px;
}

.form-select
{
    border-radius: 20px;
}

.global
{
    background-color: #2CBCAB;
    margin-bottom: -13px;
}
.meio
{
    padding: 2%;
    background-color: #D7FFFA;
}
.esse
{
    background-color: white;
    text-align: center;
    margin-left:40%;
    margin-right: 40%;
    border-radius: 30px;
}
.conj
{
    padding-bottom: 1%;
    text-align: center !important;
    margin: 0px auto !important;
}
.btn-primary
{
    margin-left: 2%;
    border-radius: 20px;
    background-color: #369C90;
    border-color: #369C90;
    margin: 0.62%;
}
.footer
{
    background-color: #2CBCAB;
    position: absolute !important;
    bottom: 0 !important;
    
}

.btn-sm
{
    background-color: white ;
    border-radius: 10px;
    color: black;
    border-color: white;
}
.btn-sm1
{

    background-color: #124A44 !important;
    border-radius: 20px !important;
    margin-right: 40%;
}
.btn-sm2
{
    background-color: #124A44 !important;
    border-radius: 20px !important;
    
}
.botoes
{
    text-align: center;
    padding-top: 2%;
}
.horarios
{
    margin-bottom: 2%;
}
.ladinho{
    margin-top: 17px !important;
}
#campodata{
    border: hidden;
    -moz-appearance: none;
    -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

.footer{
    margin-top: 5px;
    background-color: #369C90;
}
.logo_pe{
    width: 60px;
}
.footer_area{   
    padding: 10px;
}
.footer_area nav a{
    background-color: #369C90!important;
    color:white !important;
    margin-right: 80px;
}

