html{
    overflow-x: hidden;
    overflow-y: scroll;
}

.container{
    margin-top: 20px;
    margin:0 !important;
    border:0 !important;
    padding:0 !important;
    max-width: 100% !important;
}

.header{
    background-color: #2aac9c;
    margin-bottom: 0px;
    border:4px solid #124A44;
}

.header_area{
    padding: 20px;
}
.menu_area{
    margin-top: 30px;
}
.menu_area nav a{
    background-color: #124A44 !important;
    color:white !important;
    border-radius:50px !important;
    margin-right: 10px;
    box-shadow: 3px 3px 3px black;
    
}
.dropdown button{
    margin-top: 30px;
}
.active{
    background-color: #124A44 !important;
    color:white !important;
}
.logo{
    width: 100px;
    
}

.texto h1 {
    color: white;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5%;
    margin-left: 50%;
}

.footer{
    margin-top: 5px;
    background-color: #369C90;
    border:4px solid #124A44;
}

.logo_pe{
    width: 60px;
}
.footer_area{   
    padding: 10px;
}
.footer_area nav a{
    background-color: #369C90!important;
    color:white !important;
    margin-right: 80px;
}

.cardg{
    width: 200px;
    margin-top: 20px;
    border-radius: 100px;

}

.cardgr{
    background-color: rgb(255, 255, 255);
    color: black;
    margin-bottom:  20px;
    margin-top: 50px;
    text-align: center;
    border-radius: 50px;
    align-items: center;
    margin-left: auto !important; 
    margin-right: auto !important;
    border:4px solid #369C90;
    
}

.buttonfooter{
    border: none;
    background-color: #369C90;
    color: white;
}

.box {
    background-color: #2aac9c;
    height: 405px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 50px;
}

.atabela{
    align-items: center;
    text-align: center;
    width: Auto;
    margin: 0 auto;
    background-color: #369c90;
    border-radius: 20px;
    width: 70%;
    margin-top: 25px;
    margin-bottom: 5%;
}

#btnvoltar{
    background-color: #124A44 !important;
    color:white !important;
    border-radius:50px !important;
    margin-bottom: 5%;
    width: 25%;
}

td{

    padding-left: 10px;
    padding-right: 10px;
}
.aborda{
   border-top: 1px solid rgb(0, 0, 0) ;
   color: black;
}
.aclaro{
    background-color: #55FAE6;
    border-bottom: 1px solid white !important;
    border-radius: 20px;
    
}
.aultimo{
    border-bottom: 0px !important;
}
.aduplo{
    border-top: 1px solid rgb(0, 0, 0) !important;
    text-align: left;
    color: black;
}
.apr{
    
    border-top-left-radius: 20px;
    background-color: #55FAE6;
}
.apr1{
    border-top-right-radius: 20px;
    background-color: #55FAE6;
}
.apr2{
    background-color: #55FAE6;
}